.skeleton {
  /* background-color: rgb(199, 199, 199); */
  margin: 0.75rem 0;
  border-radius: 0.25rem;
  /* background-color: hsl(200, 20%, 95%); */
  background-color: hsl(200, 20%, 80%);
}
.skeleton.image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.skeleton.title {
  height: 1.25rem;
}
.skeleton.text {
  height: 0.75rem;
}
.skeleton.width-100 {
  width: 100%;
}
.skeleton.width-10 {
  width: 10%;
}
.skeleton.width-25 {
  width: 25%;
}
.skeleton.width-33 {
  width: 33%;
}
.skeleton.width-30 {
  width: 30%;
}
.skeleton.width-40 {
  width: 40%;
}
.skeleton.width-50 {
  width: 50%;
}
.skeleton.height-30 {
  height: 3em;
}

.skeleton.profile-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* animation */
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
